.woocommerce ul.products li.product .button {
	background: #DDBE25;
	color: #fff;
	margin-top: 0px;
	line-height: 19px;
}
.woocommerce ul.products li.product .button:hover {
	background: #0f6cb2;
	color: #fff;
}
.woocommerce a.added_to_cart {
	display: inline-block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background: yellow;
	text-align: center;
	width: 136px;
	padding-top: 0px;
	line-height: 36px;
	height: 35px;
	color: #333;
}
.woocommerce-loop-product__title {
	color: #555;
	font-size: 16px !important;
	line-height: 30px;
}
.woocommerce ul.products li.product .price del {
	color: #d3d3d3;
	display: ;
}
.woocommerce ul.products li.product .price {
	font-weight: 700;
	font-size: 14px;
	line-height: 30px;
	margin-right: 8px;
	color: #333;
	border-bottom:none;
}
.woocommerce ul.products li.product .onsale {
	top: 15px;
	right: 15px;
	left: auto;
	width: 40px;
	height: 40px;
}
.filters-container {
	padding: 15px 20px;
	background-color: #fff;
	padding-bottom: 10px;
	box-shadow: none;
}
.woocommerce div.product p.price ins, .woocommerce div.product span.price ins {
    background: inherit;
    font-weight: 700;
    float: left;
    margin-right: 10px;
}





.next.page-numbers {
	background: none repeat scroll 0 0 #dddddd;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 5px !important;
}
.next.page-numbers:hover {
	background: #0f6cb2;
	color:#fff!important;
}

.woocommerce .woocommerce-ordering {
	margin: 0px 0 1em 10px;
}
.woocommerce .woocommerce-ordering select {
	vertical-align: top;
	height: 30px;
	padding: 0 10px;
}

.fld.inline.ruhulamin select {
	width: 91px;
}


.my-section {
	background: #fff;
	margin-top: 30px;
	padding: 15px;
	overflow: hidden;
	width: 100%;
	height: auto;
}
#owl-single-product-thumbnails.owl-carousel .owl-item {
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	width: 74px !important;
	text-transform: uppercase !important;
}
.cart1 .quantity {
	width: 55px;
	float: left;
	height: 40px;
}
.woocommerce .quantity .qty {
	width: 50px;
	text-align: center;
	height: 33px;
}
.cart1  .btn.btn-primary {
	text-transform: uppercase;
}
.woocommerce #content div.product div.images, .woocommerce div.product div.images, .woocommerce-page #content div.product div.images, .woocommerce-page div.product div.images {
	width: 40%;
}
.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	width: 58%;
}




.tabs.wc-tabs {
	width: 20%;
	float: left;
	height: auto;
	margin-right: 15px;
}

.panel {
	width: 78%;
	float: right;
}
.panel h2 {
	margin-top: 0px !important;
}
.tabs.wc-tabs li {
	background: #ddd;
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #fff;
}
.tabs.wc-tabs li:hover {
	background: #108bea;
}
.tabs.wc-tabs li.active { background: #108bea; }
.tabs.wc-tabs li a {
	color: #fff !important;
	line-height: 45px;
	padding-left: 15px;
}


.shopping-cart .shopping-cart-table table tbody tr td img{
	height: auto;
	max-width: 50%;
}

.wp-megamenu-wrap .wpmm-nav-wrap > ul > li > a {
	color: #fff!important;

}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	width: 30.75%;
}
.fld.inline.subha select {
    width: 91px;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 22%;
}
.woocommerce ul.products li.product .price ins {
    float: left;
    margin-right: 10px;
}